* {
    margin: 0;
    padding: 0;
}
.hero{
    background-color: #f2f2f2;
}
h1{
    color: #000;
}
h2{
    color: #ffbc00;
}
p {
    margin: 10px 0 30px;
    color: #000;
}
.image{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}
.row{
    min-height: 100vh;
}
.video-b{
    margin-top: 30px;
}